<form enctype="multipart/form-data" action="" method="post">
    <dl class="zend_form">
        {% set form = element.getSubform('image_content') %}
        {{ form.getElement('id') | raw }}
        {{ form.getElement('block_id') | raw }}
        {{ form.getElement('original_src') | raw }}
        {{ form.getElement('src') | raw }}
        {{ form.getElement('alt') | raw }}
        <div class="dl-group">
            <dl>{{ form.getElement('display_width') | raw }}</dl>
            <dl>{{ form.getElement('display_height') | raw }}</dl>
        </div>
        {% if (form.getImageBlock()) %}
        <div class="dots-img-crop">
            <div class="dots-img-header">
                <a href="#crop-image" data-action="crop_image">Toogle image crop editor</a>
            </div>
            <div class="dots-img-content hide">
                <img src="{{ form.getImageBlock().original_src }}" width="100%" />
            </div>
            {{ form.getElement('crop_x1') | raw }}
            {{ form.getElement('crop_y1') | raw }}
            {{ form.getElement('crop_x2') | raw }}
            {{ form.getElement('crop_y2') | raw }}
        </div>
        {% endif %}
        {{ element.getDisplayGroup('buttons') | raw }}
    </dl>
</form>